{% extends 'base.html' %}

{% block title %}Contact me{% endblock title %}

{% block content %}
<div class="contact">
    <h1>Want to communicate with the developer?</h1>
    <h3>Please use the form below:</h3>

    <form action="contact" method="post">
        {% csrf_token %}
        <div class="control">
            <label>Your name:</label>
            {{ form.name }}    
        </div>

        <div class="control">
            <label>Your email:</label>
            {{ form.email }}
        </div>

        <div class="control">
            <label>Your message:</label>
            {{ form.message }}
        </div>

        <button>Send message</button>
    </form>
</div>
{% endblock %}