{% extends 'base.html' %}

{% block title %}Projects{% endblock title %}
{% load static %}
{% block content %}

<section class="projects-section center-column">
    <h2>Projects</h2>

    <div class="projects-list">
        <!-- All the cards here -->
        
        <div class="project-card">
            <a href="https://github.com" target="blank">
                <img src="{% static './img/picture-1.jpg' %}" alt="">
                <p>First Project Name</p>
                <p>This is the description of my first project. It should be a short description.</p>
                <p>YYYY</p>

                <div class="skills-list center-row">
                    <label class="label-text">Skill</label>
                    <label class="label-text">Skill</label>
                    <label class="label-text">Skill</label>
                    <label class="label-text">Skill</label>
                </div>
            </a>
        </div>
    </div>
</section>



{% endblock content %}