/* Responsive Design and the Breakpoints

Good practices: Add at least two media queries, one for tablet (medium screens) and one for phone (small screens).

Following the Microsoft documentation.

- Phone or Small screen

    @media(max-width:640px) {
        //Your style here
    }

-  Tablet or Medium screen

    @media((min-width:641px) and (max-width:1007px)){
        //Your style here
    }
*/

@media(max-width:1007px) {
    html {
        font-size: 12px;
    }

    .about-section {
        flex-direction: column;
    }

   /* .about-description-container {
        width: 100%;
        margin-top: 4rem;
    }

    .about-image-container {
        width: 100%;
    }

    .about-image-container img {
        height: 30rem;
        object-position: center 100%;
    }*/
}
.project-card {
    width: 100%;
}

.project-card img {
    width: 100%;
    height: 25rem;
    object-fit: cover;
    object-position: center 50%;
}

.project-card a {
    width: 100%;
    flex-direction: column;
}


@media(max-width:640px) {
    html {
        font-size: 10px;
    }

    header {
        flex-direction: column;
        height: max-content;
        padding: 2%;
    }

    .nav-btn {
        display: inline-flex;
    }

    .nav-option {
        flex-direction: column;
    }

    .nav-btn span {
        display: block;
        width: 30px;
        height: 3px;
        background-color: var(--neutral-color);
        margin: 6px auto;
    }

    /* Toggle */
    #check-option:not(:checked)~.nav-option{
        height: 0px;
        overflow: hidden;
    }

    #check-option:checked~.nav-option {
        height: auto;
        overflow: auto;
    }
}