{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./css/base.css">
        <link rel="stylesheet" href="./css/header.css">
        <link rel="stylesheet" href="./css/sections.css">
        <link rel="stylesheet" href="./css/responsive.css">
        <title>Document</title>
    </head>
        
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <h1>Here is my header</h1>

    {% block content %}

    {% endblock content %}

    <h2>Here is my footer</h2>
</body>
</html>